

<div class="container">
  <h1>Control de Ascensor</h1>
  

  <div class="controls">
    <button (click)="openDoors()">Abrir Puertas</button>
    <button (click)="closeDoors()">Cerrar Puertas</button>
    <button (click)="startElevator()">Iniciar</button>
    <button (click)="stopElevator()">Detener</button>
  </div>

  <div class="elevator-container">
    <!-- Botones para llamar al ascensor -->
    <div class="buttons">
      <button *ngFor="let floor of floors" (click)="callElevator(floor)">
        Llamar al piso {{ floor }}
      </button>
    </div>
  
    <!-- Simulación visual del ascensor -->
    <div class="elevator-shaft">
      <div
        class="elevator"
        [style.bottom]="currentFloor * 20 + 'px'"
        [class.moving]="isMoving"
      ></div>
       <!-- Estado del ascensor -->
       <div class="elevator-info">
        <p><strong>Piso actual:</strong> {{ currentFloor }}</p>
        <p><strong>Puertas:</strong> {{ isDoorsOpen ? 'Abiertas' : 'Cerradas' }}</p>
        <p><strong>Estado:</strong> {{ isMoving ? 'Moviéndose' : 'Detenido' }}</p>
      </div>
    </div>
  </div>
  
</div>



<router-outlet />
